<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Information</h1>
      <p><a class="btn btn-primary btn-lg" href="scrape" role="button">Click to Update</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="heading">Mars News</h3>
        <h4 class="heading">{{mars.title}}</h4>
        <p>{{mars.Paragrapth}}</p>
        <hr>
      </div>
    </div>


    <div class="row" >
      <div class="col-md-8">
        <h3 class="heading">Featured Image</h3>
        <img  src="{{mars.Featured_image}}" class="img-fluid"> 
      </div>

      <div class="col-md-4">
        <h3 class="heading">Mars Facts</h3>
        <table class = "table table-striped">{{mars.Mars_facts|safe}}</table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Mars Hemispheres</h3>
      </div>
    </div>


    <div class="row" >
      <div class="col-sm-3">
        <h4 class="heading" >{{mars.Hemisphiers[0]['Title']}} </h4>
        <img src ="{{mars.Hemisphiers[0]['Image ULR']}}" class="img-thumbnail">
      </div>

      <div class="col-sm-3">
        <h4 class="heading" >{{mars.Hemisphiers[1]['Title']}} </h4>
        <img src ="{{mars.Hemisphiers[1]['Image ULR']}}" class="img-thumbnail">
      </div>

      <div class="col-sm-3">
        <h4 class="heading" >{{mars.Hemisphiers[2]['Title']}} </h4>
        <img src ="{{mars.Hemisphiers[2]['Image ULR']}}" class="img-thumbnail">
      </div>

      <div class="col-sm-3">
        <h4 class="heading" >{{mars.Hemisphiers[3]['Title']}} </h4>
        <img src ="{{mars.Hemisphiers[3]['Image ULR']}}" class="img-thumbnail">
      </div>
    </div>

  </div>
</body>

</html>
